{% extends '../base/base.html' %}

{% block pagebody %}
 <div class="container" ng-app="home">
     <div class="row" ng-controller="SystemController">
        <div class="col-md-8 col-sm-8" id="node-status">
             {% include 'node_status.html' %}
        </div><!--for node-status -->
        
        <div class="col-md-4 col-sm-4" id='cluster-status'>
            {% include 'cluster_status.html' %}
        </div><!-- for cluster-status -->        
        
     </div>
 </div>
 

 
 <script type="text/javascript" src="{{ static_url('js/index/IndexControler.js') }}"></script>
{% end %}